@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    background-color: rgb(30,30,30);
    color: rgb(204, 204, 197);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;
}

h1 div:last-child {
    color: rgb(60, 154, 186);
}

#navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
}

#navbar li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    text-transform: uppercase;
}

#navbar li:hover{
    background-color: rgb(37,37,37);
}

main {
    display: flex;
    flex-direction: row;
    left: 0;
    position: relative;
    transition: left 0.5s;
    width: 300vw;
}

main.skills{
    left: -100vw;
    transition: left 0.5s;
}

main.projects{
    left: -200vw;
    transition: left 0.5s;
}

.page {
    box-sizing: border-box;
    width: 100vw;
}

.nav-title {
    font-size: 20px;
}

.nav-list {
    list-style: none;
}

.keyword {
    color: rgb(86, 156, 214);
}

.string {
    color: rgb(206, 145, 120);

}